<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="./scripts/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="stylesheet" type="text/css" href="./css/gauge.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
        <body>
            <div id="map"></div>
                
            <div id="pop-up" class="whiteWindow">
                <style>
                    .whiteWindow{
                        width: 300px;
                        height: 400px;
                        z-index: 999;
                        background-color:white;
                        border: darkmagenta;
                        display: none;
                        margin-left: auto;
                        margin-right: auto;
                    }
                </style>
                <br></br>
                <div class="gauge1">
                    <div class="gauge_body1">
                        <div class="gauge_fill1"></div>
                        <div class="gauge_cover1"></div>
                    </div>
                </div>
                <br></br>
                <div class="gauge2">
                    <div class="gauge_body2">
                        <div class="gauge_fill2"></div>
                        <div class="gauge_cover2"></div>
                    </div>
                </div>
            </div>
            <!--
                <script>
                const gaugeElement1 = document.querySelector(".gauge1");
                const gaugeElement2 = document.querySelector(".gauge2");
    
                function setGaugeValue(gauge1,gauge2,value1,value2){
                    document.getElementById("pop-up").style.display = "block";
                    if(value1 < 0 || value1 > 1){
                        return;
                    }
                    if(value2 < 0 || value2 > 1){
                        return;
                    }
                    
                    gauge1.querySelector(".gauge_fill1").style.transform = `rotate(${value1/2}turn)`;
                    gauge1.querySelector(".gauge_cover1").textContent = `${Math.round(value1 * 100)}ppm`;
    
                    gauge2.querySelector(".gauge_fill2").style.transform = `rotate(${value2/2}turn)`;
                    gauge2.querySelector(".gauge_cover2").textContent = `${Math.round(value2 * 100)}ppm`;
                }
    
                setGaugeValue(gaugeElement1,gaugeElement2,0.9,0.36);
            </script>
            -->
            
            
            <script src="./scripts/axios/dist/axios.min.js" type="text/javascript"></script>
            <script src="./scripts/socket.io-client/dist/socket.io.js" type="text/javascript"></script>
            <script src="./scripts/canvas-gauges/gauge.min.js" type="text/javascript"></script>
            <script src="./scripts/jquery/dist/jquery.min.js" type="text/javascript"></script>
            <script src="./scripts/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

        
            <script type="text/javascript" src="./js/script.js"></script>
            <script type="text/javascript" src="./js/realtime.js"></script>

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn51vnthzG3sFMj3i-
            ozZ09jwwpYTOyAA&callback=initMap"></script>
            
        </body>
</html>